<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bioinformática</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../assets/css/bio.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Bioinformática</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="divider"><a href="/">Inicio</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Conversor <b class="caret"></b></a>
		        <ul class="dropdown-menu">
                    <li><a href="/gb2fasta.html">GenBank -> FASTA</a></li>
                </ul>
            </li>           
	        <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">BLAST <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		            <li><a href="/view_blast.html">Analizar BLAST OUTPUT</a></li>
		            <li></li>
		            <li><a href="/blast_online.html">Realizar BLASTP (online)</a></li>
		            <li><a href="/blast_local.html">Realizar BLASTP (local)</a></li>
		        </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">EMBOSS <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/view_orf.html">Analizar ORF</a></li>
                <li class="active"><a href="/view_motifs.html">Analizar Dominios</a></li>
                <li class="divider"></li>
                <li><a href="/emboss_orf.html">Obtener ORF</a></li>
                <li><a href="/emboss_motifs.html">Obtener Dominios</a></li>
            </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-1 main">
          <h1 class="page-header">Analisis de Dominios</h1>
		<fieldset>
			<form id="blast-form" role="form" action='/emboss/p/motifsreport' method="POST" enctype=multipart/form-data>
			  <div class="form-group">
			    <label for="input_file">Seleccione archivo</label>
			    <input type="file" id="input_file" name="input_file"/>
			    <p class="help-block small">Seleccione archivo .patmatmotifs para analizarlo.</p>
			  </div>
			  <button type="submit" id="submit-button" class="btn btn-primary">Ver reporte</button>
			</form>
		</fieldset>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="../../assets/jquery/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>


